<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.mmlogfile" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>mmLogFile</name>
<js-module name="mmLogFile" src="www/mmLogFile.js">
        <clobbers target="cordova.plugins.mmLogFile" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
        <feature name="mmLogFile">
            <param name="android-package" value="cordova.plugin.mmlogfile.mmLogFile" />
        </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_LOGS"/>
        </config-file>
        <source-file src="src/android/mmLogFile.java" target-dir="src/cordova/plugin/mmlogfile" />
</platform>
</plugin>